USE [master]
GO
/****** Object:  Database [EjercicioGlobalHitss]    Script Date: 15/06/2020 12:37:23 p. m. ******/
CREATE DATABASE [EjercicioGlobalHitss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EjercicioGlobalHitss', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\EjercicioGlobalHitss.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EjercicioGlobalHitss_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\EjercicioGlobalHitss_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EjercicioGlobalHitss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EjercicioGlobalHitss]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](100) NULL,
	[APELLIDO_PATERNO] [varchar](30) NULL,
	[APELLIDO_MATERNO] [varchar](30) NULL,
	[DIRECCION] [varchar](250) NULL,
	[EDAD] [smallint] NULL,
	[TELEFONO] [varchar](12) NULL,
	[SEXO] [char](1) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuentas_Clientes]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas_Clientes](
	[IDCLIENTE] [int] NOT NULL,
	[ID_CUENTA] [int] NOT NULL,
 CONSTRAINT [PK_Cuentas_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CuentasBancarias]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuentasBancarias](
	[ID_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_TARJETA] [varchar](19) NOT NULL,
	[CUENTA_BANCARIA] [varchar](20) NOT NULL,
	[FECHA_VENCIMIENTO] [char](5) NOT NULL,
	[TIPO_TARJETA] [smallint] NOT NULL,
	[TIPO_PRODUCTO] [smallint] NOT NULL,
 CONSTRAINT [PK_CuentasBancarias_1] PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleCredito]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCredito](
	[ID_CUENTA] [int] NOT NULL,
	[LINEA_CREDITO] [decimal](10, 2) NULL,
	[SALDO_DISPONIBLE] [decimal](10, 2) NULL,
	[SALDO_POR_PAGAR] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TiposProductos]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TiposProductos](
	[ID_TIPO_PRODUCTO] [smallint] NOT NULL,
	[NOMBRE_TIPO_PRODUCTO] [varchar](20) NULL,
 CONSTRAINT [PK_TiposProductos] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TiposTarjetas]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TiposTarjetas](
	[ID_TIPO_TARJETA] [smallint] NOT NULL,
	[NOMBRE_TIPO_TARJETA] [char](3) NULL,
 CONSTRAINT [PK_Tipos_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_TARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IDCLIENTE], [NOMBRES], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [DIRECCION], [EDAD], [TELEFONO], [SEXO]) VALUES (1, N'GIOVANNA ELOISA', N'VAZQUEZ', N'MORENO', N'TECAMAC. EDO MEX, 55767', 27, N'5538934815', N'F')
INSERT [dbo].[Clientes] ([IDCLIENTE], [NOMBRES], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [DIRECCION], [EDAD], [TELEFONO], [SEXO]) VALUES (2, N'JUAN', N'PEREZ', N'PEREZ', N'COYOACAN, CDMX, 55800', 38, N'5567676767', N'M')
INSERT [dbo].[Clientes] ([IDCLIENTE], [NOMBRES], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [DIRECCION], [EDAD], [TELEFONO], [SEXO]) VALUES (3, N'CARLA', N'LOPEZ', N'LOPEZ', N'LINDAVISTA, CDMX, 55768', 23, N'5543434343', N'F')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
INSERT [dbo].[Cuentas_Clientes] ([IDCLIENTE], [ID_CUENTA]) VALUES (1, 2)
INSERT [dbo].[Cuentas_Clientes] ([IDCLIENTE], [ID_CUENTA]) VALUES (1, 4)
INSERT [dbo].[Cuentas_Clientes] ([IDCLIENTE], [ID_CUENTA]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[CuentasBancarias] ON 

INSERT [dbo].[CuentasBancarias] ([ID_CUENTA], [NUMERO_TARJETA], [CUENTA_BANCARIA], [FECHA_VENCIMIENTO], [TIPO_TARJETA], [TIPO_PRODUCTO]) VALUES (1, N'1234567812345678', N'123456789012345678', N'03/22', 1, 1)
INSERT [dbo].[CuentasBancarias] ([ID_CUENTA], [NUMERO_TARJETA], [CUENTA_BANCARIA], [FECHA_VENCIMIENTO], [TIPO_TARJETA], [TIPO_PRODUCTO]) VALUES (2, N'0987098709870987', N'135792468012345678', N'12/23', 2, 1)
INSERT [dbo].[CuentasBancarias] ([ID_CUENTA], [NUMERO_TARJETA], [CUENTA_BANCARIA], [FECHA_VENCIMIENTO], [TIPO_TARJETA], [TIPO_PRODUCTO]) VALUES (3, N'1234123412341234', N'125689097643124578', N'04/22', 2, 2)
SET IDENTITY_INSERT [dbo].[CuentasBancarias] OFF
INSERT [dbo].[DetalleCredito] ([ID_CUENTA], [LINEA_CREDITO], [SALDO_DISPONIBLE], [SALDO_POR_PAGAR]) VALUES (1, CAST(200000.00 AS Decimal(10, 2)), CAST(120000.00 AS Decimal(10, 2)), CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCredito] ([ID_CUENTA], [LINEA_CREDITO], [SALDO_DISPONIBLE], [SALDO_POR_PAGAR]) VALUES (2, CAST(40000.00 AS Decimal(10, 2)), CAST(23000.00 AS Decimal(10, 2)), CAST(17000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCredito] ([ID_CUENTA], [LINEA_CREDITO], [SALDO_DISPONIBLE], [SALDO_POR_PAGAR]) VALUES (3, CAST(126000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(26000.00 AS Decimal(10, 2)))
INSERT [dbo].[TiposProductos] ([ID_TIPO_PRODUCTO], [NOMBRE_TIPO_PRODUCTO]) VALUES (1, N'VISA')
INSERT [dbo].[TiposProductos] ([ID_TIPO_PRODUCTO], [NOMBRE_TIPO_PRODUCTO]) VALUES (2, N'MASTERCARD')
INSERT [dbo].[TiposProductos] ([ID_TIPO_PRODUCTO], [NOMBRE_TIPO_PRODUCTO]) VALUES (3, N'AMEX')
INSERT [dbo].[TiposTarjetas] ([ID_TIPO_TARJETA], [NOMBRE_TIPO_TARJETA]) VALUES (1, N'TDC')
INSERT [dbo].[TiposTarjetas] ([ID_TIPO_TARJETA], [NOMBRE_TIPO_TARJETA]) VALUES (2, N'TDD')
ALTER TABLE [dbo].[Cuentas_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Clientes_Clientes] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[Clientes] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[Cuentas_Clientes] CHECK CONSTRAINT [FK_Cuentas_Clientes_Clientes]
GO
ALTER TABLE [dbo].[Cuentas_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Clientes_CuentasBancarias] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CuentasBancarias] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[Cuentas_Clientes] CHECK CONSTRAINT [FK_Cuentas_Clientes_CuentasBancarias]
GO
ALTER TABLE [dbo].[CuentasBancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_CuentasBancarias] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CuentasBancarias] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[CuentasBancarias] CHECK CONSTRAINT [FK_CuentasBancarias_CuentasBancarias]
GO
ALTER TABLE [dbo].[CuentasBancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_TiposProductos] FOREIGN KEY([TIPO_PRODUCTO])
REFERENCES [dbo].[TiposProductos] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[CuentasBancarias] CHECK CONSTRAINT [FK_CuentasBancarias_TiposProductos]
GO
ALTER TABLE [dbo].[CuentasBancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_TiposTarjetas] FOREIGN KEY([TIPO_TARJETA])
REFERENCES [dbo].[TiposTarjetas] ([ID_TIPO_TARJETA])
GO
ALTER TABLE [dbo].[CuentasBancarias] CHECK CONSTRAINT [FK_CuentasBancarias_TiposTarjetas]
GO
ALTER TABLE [dbo].[DetalleCredito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCredito_CuentasBancarias] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CuentasBancarias] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[DetalleCredito] CHECK CONSTRAINT [FK_DetalleCredito_CuentasBancarias]
GO
/****** Object:  StoredProcedure [dbo].[spClientes_Cuentas_Catalog]    Script Date: 15/06/2020 12:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spClientes_Cuentas_Catalog]
	-- Add the parameters for the stored procedure here
	@Action VARCHAR(50) = NULL,
	@IDCLIENTE INT = NULL
	--@NOMBRE VARCHAR(100) = NULL,
	--@DIRECCION VARCHAR(250) = NULL,
	--@EDAD SMALLINT = NULL,
	--@TELEFONO VARCHAR(12) = NULL,
	--@SEXO CHAR(1) = NULL,
	--@NUMERO_TARJETA VARCHAR(19) = NULL,
	--@CUENTA_BANCARIA VARCHAR(20) = NULL,
	--@FECHA_VENCIMIENTO VARCHAR(5) = NULL,
	--@TIPO_TARJETA SMALLINT = NULL,
	--@TIPO_PRODUCTO SMALLINT = NULL
	
AS
BEGIN
	
	SET NOCOUNT ON;

    -- SELECCIONA LOS DATOS DE TODOS LOS REGISTROS DE CLIENTES Y SUS CUENTAS
	IF(@Action='SELECT_CLIENTES_CUENTAS')
	BEGIN
		SELECT
			c.IDCLIENTE,
			c.NOMBRES,
			c.APELLIDO_PATERNO,
			c.APELLIDO_MATERNO,
			c.DIRECCION,
			c.EDAD,
			c.TELEFONO,
			c.SEXO,
			cb.CUENTA_BANCARIA
		FROM
			Clientes AS c
			INNER JOIN Cuentas_Clientes AS cc
			          ON cc.IDCLIENTE = c.IDCLIENTE
			          INNER JOIN CuentasBancarias AS cb
			                    ON cb.ID_CUENTA = cc.ID_CUENTA
		ORDER BY cb.ID_CUENTA
	END
	
	IF(@Action='SELECT_CLIENTES_CUENTAS')
	BEGIN
		SELECT
			cb.ID_CUENTA,
			cb.NUMERO_TARJETA,
			cb.CUENTA_BANCARIA,
			cb.FECHA_VENCIMIENTO,
			cb.TIPO_TARJETA,
			cb.TIPO_PRODUCTO,
			dc.LINEA_CREDITO, 
			dc.SALDO_DISPONIBLE, 
			dc.SALDO_POR_PAGAR
		FROM
			CuentasBancarias AS cb
			INNER JOIN Cuentas_Clientes AS cc
			          ON cc.ID_CUENTA = cb.ID_CUENTA
			          INNER JOIN DetalleCredito AS dc
			                    ON dc.ID_CUENTA = cb.ID_CUENTA
		WHERE cc.IDCLIENTE = @IDCLIENTE 
		ORDER BY cb.ID_CUENTA
	END
	
	
	
END

GO
USE [master]
GO
